.category-list {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.category {
    display: block;
    padding: 0.3em 0.85em;
    margin: 0.5em;
    text-transform: uppercase;
    border: 2px;
    border-style: solid;
    border-radius: 2em;
    transition: transform 0.2s;
    transition-timing-function: cubic-bezier(0.45, -0.85, 0.55, -0.45);
}

.category:hover {
    transform: scale(1.15);
}

.section-title {
    font-size: 32px;
    font-weight: bold;
    color: #2a2a2a;
    margin: 1rem;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.restaurant-card {
    width: 22%;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 1rem;
}

.restaurant-card-image {
    height: 200px;
}
  
.restaurant-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.restaurant-card-content {
    padding: 0px 4px 32px 6px;
    margin: 8px 4px 4px 6px;
    max-height: 290px;
    overflow: hidden;
}

.restaurant-card-title {
    font-size: 18px;
    font-weight: bold;
}

.restaurant-card-text {
    display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; overflow: hidden;
}

.restaurant-content {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 720px;
    font-size: 18px;
    line-height: 1.8;
}

.restaurant-content > img {
    width: 100%;
}

.restaurant-name {
    font-size: 32px;
    font-weight: bold;
    color: #2a2a2a;
}

.comments-title {
    font-size: 24px;
    font-weight: bold;
    color: #2a2a2a;
}

.comment {
    margin-top: 1em;
    margin-bottom: 1em;
}

.comment > span {
    font-size: 18px;
    font-weight: bold;
}

.comment-submit {
    margin-top: 1em;
    display: flex;
    justify-content: end;
}

.comment-submit > button {
    padding: .5em 2em .5em 2em;
    border-radius: .5em;
    border-width: .2px;
    background-color: #34495e;
    color: white;
    font-size: 16px;
}

.new-comment > textarea {
    padding: .5em;
    font-size: 18px;
    margin-top: 1em;
    width: 100%;
    border-radius: .5em;
}